*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

body{
    background-color: $neutral-100;
}

body::-webkit-scrollbar {
    width: 16px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: $primary-black-dark;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: $primary-default;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 4px solid $primary-black-dark;  /* creates padding around scroll thumb */
}

html,
body{
    overflow-x: hidden;
}

html{font-size: 62.5%;}

img{
    max-width: 100%;
    display: block;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}